# Dependências
sistemaFinanceiro/vendor/

# Bootstrap Icons
sistemaFinanceiro/public/bootstrap-icons/
sistemaFinanceiro/public/icons/

# Ambiente
sistemaFinanceiro/.env

# Sistema
.DS_Store
Thumbs.db

# Logs
sistemaFinanceiro/storage/logs/*.log
sistemaFinanceiro/storage/cache/*
